<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">


# DSI-13 Capstone Project: 
# Recommender Systems

_Authors: Davis Hong_

---

### Problem Statement:
A Recommender System is a system capable of predicting future preferences of a set of items for users, and recommend something that s/he may like (content based) or something preferred by others with similar tastes (collaborative). In the past where brick and mortar business model is the norm, recommendations are usually made through word of mouth. However, with the internet, availability of large amount of data coupled with some good prediction models, recommendations can be fairly accurate. Businesses relying heavily on the internet for revenue, recommender systems can help boost growth and increase revenue.


### Objective:
There are many type of recommender systems that can be used for movie recommender but for this project, we will focus on the 2 models below. 

The objective is to use a simple non-machine learning model and use the results as the baseline. A machine learning based model will be used to compare with the simple model. The machine learning model will be expected to produce better results.

<a id="two-classical-recommendation-methods"></a>
### Two classical recommendation methods

- **Collaborative Filtering**: _(similar people)_
    - If you like the same 5 movies as someone else, you'll likely enjoy other movies they like.
    - There are two main types: (a) Find users who are similar and recommend what they like (**user-based**), or (b) recommend items that are similar to already-liked items (**item-based**).
   

- **Content-Based Filtering** _(similar items)_
    - If you enjoy certain characteristics of movies (e.g. certain actors, genre, etc.), you'll enjoy other movies with those characteristics.
    - Note this can easily be done using machine learning methods! Each movie can be decomposed into features. Then, for each user we compute a model -- the target can be a binary classifier (e.g. "LIKE"/"DISLIKE") or regression (e.g. star rating).
<br>

### Data Source:
Data source: The ?? Movie Lens datasets will be used for the project.

Datasets can be found at https://grouplens.org/datasets/movielens/1m/

Data dictionary: http://files.grouplens.org/datasets/movielens/ml-1m-README.txt

### Potential challenges and obstacles:
As there are no metrics to measure whether the recommender engine is good or not thus some form of human interpretation of the results will be required to gauge the performance of models.

### Measuring of results.
Whenever possible, baseline score will be set and metrics such as MSE, RSME, etc will be used to measure the effectiveness of the model.

Bearing any unforeseen circumstances for eg, interruptions cause by COVID19, this project should be achievable as data is available. Data cleaning is expected but minimal.

### Let's get started...

### Load required libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.model_selection import train_test_split, cross_val_score, KFold, GridSearchCV
from sklearn import preprocessing
sns.set()
sns.set_style('darkgrid')
plt.style.use('fivethirtyeight')
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

## Load datasets
---

We'll be using the [MovieLens](https://grouplens.org/datasets/movielens/) dataset for building our recommendation engine. There are 3 datasets namely movies, ratings and users which will be used to build the recommender system.

In [2]:
pwd

'P:\\GitHub\\General-Assembly-Projects\\Capstone'

In [3]:
movies = pd.read_csv('.\datasets\\movies.csv')
ratings = pd.read_csv('.\datasets\\ratings.csv')
users = pd.read_csv('.\datasets\\users.csv')

In [4]:
print(f'Shape of Movies dataframe: {movies.shape}\n')
print(f'Any null values in the dataframe:\n{movies.isnull().sum()}\n')
print(f'Data types:\n{movies.dtypes}')
movies.head()

Shape of Movies dataframe: (9742, 3)

Any null values in the dataframe:
movieId    0
title      0
genres     0
dtype: int64

Data types:
movieId     int64
title      object
genres     object
dtype: object

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
print(f'Shape of Ratings dataframe: {ratings.shape}\n')
print(f'Any null values in the dataframe:\n{ratings.isnull().sum()}\n')
print(f'Data types:\n{ratings.dtypes}')
ratings.head()

Shape of Ratings dataframe: (100836, 4)

Any null values in the dataframe:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

Data types:
userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
# Convert column header of movies and ratings dataframe to lower case
movies.rename(columns = {'movieId': 'movieid'}, inplace = True)
movies.head(2)

   movieid             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [7]:
print(f'Shape of Users dataframe: {users.shape}\n')
print(f'Any null values in the dataframe:\n{users.isnull().sum()}\n')
print(f'Data types:\n{users.dtypes}')
users.head()

Shape of Users dataframe: (6040, 5)

Any null values in the dataframe:
userid        0
gender        0
age           0
occupation    0
zipcode       0
dtype: int64

Data types:
userid         int64
gender        object
age            int64
occupation     int64
zipcode       object
dtype: object

   userid gender  age  occupation zipcode
0       1      F    1          10   48067
1       2      M   56          16   70072
2       3      M   25          15   55117
3       4      M   45           7    2460
4       5      M   25          20   55455

In [8]:
ratings.columns = map(str.lower, ratings.columns)
ratings.head(2)

   userid  movieid  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [9]:
# Per data dictionary, numeric codes used in the users dataset
# contains categorical information.

#Create dictionary for age group.
data = {'age': [1, 18, 25, 35, 45, 50, 56], 
        'agegrp': ['Under 18', '18-24', '25-34', '35-44', '45-49', '50-55', '56+']} 

# Create DataFrame for age group
age_grp = pd.DataFrame(data)

# Create dictionary for occupation
data = {'code': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 
        'occupation': ['other', 'academic/educator', 'artist', 'cleric/admin',
                       'college/grad student', 'customer service',
                       'doctor/health care', 'executive/managerial', 'farmer',
                       'homemaker', 'K-12 student', 'lawyer', 'programmer',
                      'retired', 'sales/marketing', 'scientist',
                      'self-employed', 'technician/engineer',
                      'tradesman/craftsman', 'unemployed', 'writer']} 

# Create DataFrame for age group
occupation = pd.DataFrame(data)

In [10]:
age_grp

   age    agegrp
0    1  Under 18
1   18     18-24
2   25     25-34
3   35     35-44
4   45     45-49
5   50     50-55
6   56       56+

In [11]:
occupation

    code            occupation
0      0                 other
1      1     academic/educator
2      2                artist
3      3          cleric/admin
4      4  college/grad student
5      5      customer service
6      6    doctor/health care
7      7  executive/managerial
8      8                farmer
9      9             homemaker
10    10          K-12 student
11    11                lawyer
12    12            programmer
13    13               retired
14    14       sales/marketing
15    15             scientist
16    16         self-employed
17    17   technician/engineer
18    18   tradesman/craftsman
19    19            unemployed
20    20                writer

## Drop unnecessary columns
---

We won't need the `timestamp` column from `ratings`, nor will we need the `genres` column from `movies`. Drop both columns in the cells below.

In [12]:
movies.drop('genres', axis = 1, inplace = True)
ratings.drop('timestamp', inplace = True, axis = 1)

## Merge `movies` and `ratings`
---

Use `pd.merge` to **inner join** `movies` with `ratings` on the `movieId` column.

In [13]:
movie_ratings = pd.merge(ratings, movies, on = 'movieid')

In [14]:
# Print first and last 5 rows of the merged dataframe
print(movie_ratings.head())
print(movie_ratings.tail())

   userid  movieid  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)
        userid  movieid  rating                             title
100831     610   160341     2.5                  Bloodmoon (1997)
100832     610   160527     4.5  Sympathy for the Underdog (1971)
100833     610   160836     3.0                     Hazard (2005)
100834     610   163937     3.5                Blair Witch (2016)
100835     610   163981     3.5                         31 (2016)

In [15]:
movie_ratings.to_csv('.\output\\movielens.csv', index = False, header = True)

## Create pivot table
---

Because we're creating an movie-based collaborative recommender, we'll set up our pivot table as follows:
1. The `title` will be the index
2. The `userId` will be the column
3. The `rating` will be the value

**If we were building a user-based collaborative recommender, what would change about this pivot table?**

In [16]:
movie_ratings.head(2)

   userid  movieid  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)

In [17]:
pivot = pd.pivot_table(movie_ratings, index = 'title', 
                       columns='userid', values = 'rating')
pivot.head(2)

userid,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Create sparse matrix
Calculate the cosine similarity for each movie using the `pairwise_distances` function. Before that, we need to create a sparse matrix (datatype) using `scipy`'s `sparse` module.

In [18]:
sparse_pivot = sparse.csr_matrix(pivot.fillna(0))

In [19]:
sparse_pivot

<9719x610 sparse matrix of type '<class 'numpy.float64'>'
	with 100832 stored elements in Compressed Sparse Row format>

## Calculate cosine similarity
Use `sklearn's` built-in `pairwise_distances` function for the recommender. It will return a square matrix, comparing every movie with every other movie in the dataset.

In [20]:
# Create a distance metrics similar to    
recommender = pairwise_distances(sparse_pivot, metric = 'cosine')

## Create distances DataFrame
---

At this point, we essentially have a recommender. We'll load it into a `pandas` DataFrame for readability. 

You'll notice that each movie has a "distance" of 0 with itself (along the diagonal).

In [21]:
recommender_df = pd.DataFrame(recommender, 
                              columns = pivot.index, 
                              index = pivot.index)
recommender_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.0,0.858347,1.0,...,1.0,0.657945,0.456695,0.292893,1.0,1.0,0.860569,0.672673,1.0,1.0
'Hellboy': The Seeds of Creation (2004),1.0,0.000000,0.292893,1.000000,1.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Round Midnight (1986),1.0,0.292893,0.000000,1.000000,1.000000,1.0,0.823223,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Salem's Lot (2004),1.0,1.000000,1.000000,0.000000,0.142507,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Til There Was You (1997),1.0,1.000000,1.000000,0.142507,0.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0

## Evaluate recommender performance
---

Now comes the fun part! Let's check out a few movies to see if the recommender aligns with our intuition. In the cell below we'll do the following:
1. Create a search term
2. Use that to find all titles matching the search query
3. For each title, we'll list off the following:
  1. The average rating
  2. The number of ratings
  3. The ten most similar movies

In [22]:
search = input("What is your favorite movie: ").title()

What is your favorite movie: Lord

In [23]:
for title in movies.loc[movies['title'].str.contains(search), 'title']:
    print(title)
    print(f'Average rating: {pivot.loc[title, :].mean()}') # Average ratings from users
    print(f'Number of rating: {pivot.loc[title, :].count()}')
    print('')
    print('Here are some movies with similar movie title and genre as per your input.')
    print('')
    print(recommender_df[title].sort_values()[1:11])
    print('')
    print('*' * 70)

Lord of Illusions (1995)
Average rating: 2.75
Number of rating: 8

Here are some movies with similar movie title and genre as per your input.

title
Vampire in Brooklyn (1995)               0.481266
Suspiria (1977)                          0.502466
Hellraiser: Bloodline (1996)             0.511376
Pokémon Heroes (2003)                    0.521909
Relative Fear (1994)                     0.521909
To Live and Die in L.A. (1985)           0.521909
Frisk (1995)                             0.521909
Young Poisoner's Handbook, The (1995)    0.521909
It Came from Outer Space (1953)          0.521909
Castle Freak (1995)                      0.521909
Name: Lord of Illusions (1995), dtype: float64

**********************************************************************
Little Lord Fauntleroy (1936)
Average rating: 4.0
Number of rating: 1

Here are some movies with similar movie title and genre as per your input.

title
Land and Freedom (Tierra y libertad) (1995)             0.0
Pinocchio (2002)                                        0.0
Piano Teacher, The (La pianiste) (2001)                 0.0
Ladybird Ladybird (1994)                                0.0
Special Day, A (Giornata particolare, Una) (1977)       0.0
Phenomena (a.k.a. Creepers) (1985)                      0.0
Crime Busters (1977)                                    0.0
Golden Door (Nuovomondo) (2006)                         0.0
Common Thread, A (a.k.a. Sequins) (Brodeuses) (2004)    0.0
Steam: The Turkish Bath (Hamam) (1997)                  0.0
Name: Little Lord Fauntleroy (1936), dtype: float64

**********************************************************************
Lord of the Rings, The (1978)
Average rating: 3.1333333333333333
Number of rating: 15

Here are some movies with similar movie title and genre as per your input.

title
Excalibur (1981)                     0.457006
Transformers: The Movie (1986)       0.472719
Six-String Samurai (1998)            0.513516
Blackbeard's Ghost (1968)            0.514716
Young Sherlock Holmes (1985)         0.531669
Ladyhawke (1985)                     0.541025
Clan of the Cave Bear, The (1986)    0.553215
Newton Boys, The (1998)              0.554135
Return to Oz (1985)                  0.555993
Oh, God! (1977)                      0.560714
Name: Lord of the Rings, The (1978), dtype: float64

**********************************************************************
Lord of the Flies (1963)
Average rating: 3.0384615384615383
Number of rating: 13

Here are some movies with similar movie title and genre as per your input.

title
Friends with Money (2006)                                               0.461951
I Love You to Death (1990)                                              0.482777
Dummy (2002)                                                            0.483679
Odessa File, The (1974)                                                 0.489143
Days of Wine and Roses (1962)                                           0.504337
Princess and the Warrior, The (Krieger und die Kaiserin, Der) (2000)    0.504835
Russia House, The (1990)                                                0.513963
Killing, The (1956)                                                     0.521063
Earth Girls Are Easy (1988)                                             0.540274
Gaslight (1944)                                                         0.540609
Name: Lord of the Flies (1963), dtype: float64

**********************************************************************
Lords of Flatbush, The (1974)
Average rating: 2.0
Number of rating: 1

Here are some movies with similar movie title and genre as per your input.

title
Kentucky Fried Movie, The (1977)                                                  0.211890
Crush, The (1993)                                                                 0.298354
Easy Money (1983)                                                                 0.339181
Taking of Pelham One Two Three, The (1974)                                        0.447842
Interiors (1978)                                                                  0.451849
Apostle, The (1997)                                                               0.518457
20 Dates (1998)                                                                   0.538120
Shampoo (1975)                                                                    0.556240
Bananas (1971)                                                                    0.574757
Everything You Always Wanted to Know About Sex * But Were Afraid to Ask (1972)    0.597415
Name: Lords of Flatbush, The (1974), dtype: float64

**********************************************************************
Phantasm III: Lord of the Dead (1994)
Average rating: 2.0
Number of rating: 1

Here are some movies with similar movie title and genre as per your input.

title
Sisters (1973)                                                                     0.0
Libertine, The (2004)                                                              0.0
Scent of Green Papaya, The (Mùi du du xhan - L'odeur de la papaye verte) (1993)    0.0
Hellraiser III: Hell on Earth (1992)                                               0.0
Black Orpheus (Orfeu Negro) (1959)                                                 0.0
Those Magnificent Men in Their Flying Machines (1965)                              0.0
Kickboxer (1989)                                                                   0.0
Testament of Dr. Mabuse, The (Das Testament des Dr. Mabuse) (1933)                 0.0
Bunny Lake Is Missing (1965)                                                       0.0
Another Woman (1988)                                                               0.0
Name: Phantasm III: Lord of the Dead (1994), dtype: float64

**********************************************************************
Lord of the Flies (1990)
Average rating: 3.4285714285714284
Number of rating: 7

Here are some movies with similar movie title and genre as per your input.

title
View from the Top (2003)                        0.247688
Pootie Tang (2001)                              0.350155
Hardball (2001)                                 0.379113
Camp (2003)                                     0.381395
Blue Car (2002)                                 0.402833
Love Liza (2002)                                0.403819
Beastmaster, The (1982)                         0.411734
Man on the Train (Homme du train, L') (2002)    0.412015
Dancer Upstairs, The (2002)                     0.418902
Oklahoma! (1955)                                0.418998
Name: Lord of the Flies (1990), dtype: float64

**********************************************************************
Lord of the Rings: The Fellowship of the Ring, The (2001)
Average rating: 4.106060606060606
Number of rating: 198

Here are some movies with similar movie title and genre as per your input.

title
Lord of the Rings: The Return of the King, The (2003)            0.125600
Lord of the Rings: The Two Towers, The (2002)                    0.125868
Pirates of the Caribbean: The Curse of the Black Pearl (2003)    0.338440
Matrix, The (1999)                                               0.345872
Shrek (2001)                                                     0.353577
Fight Club (1999)                                                0.364256
Memento (2000)                                                   0.378828
Spider-Man (2002)                                                0.379254
Gladiator (2000)                                                 0.384659
Batman Begins (2005)                                             0.399211
Name: Lord of the Rings: The Fellowship of the Ring, The (2001), dtype: float64

**********************************************************************
Lord of the Rings: The Two Towers, The (2002)
Average rating: 4.0212765957446805
Number of rating: 188

Here are some movies with similar movie title and genre as per your input.

title
Lord of the Rings: The Return of the King, The (2003)            0.117721
Lord of the Rings: The Fellowship of the Ring, The (2001)        0.125868
Pirates of the Caribbean: The Curse of the Black Pearl (2003)    0.325767
Matrix, The (1999)                                               0.374456
Incredibles, The (2004)                                          0.376134
Spider-Man (2002)                                                0.388087
Batman Begins (2005)                                             0.390783
Shrek (2001)                                                     0.391296
Memento (2000)                                                   0.397019
Minority Report (2002)                                           0.408321
Name: Lord of the Rings: The Two Towers, The (2002), dtype: float64

**********************************************************************
Dragon Lord (a.k.a. Dragon Strike) (Long Xiao Ye) (1982)
Average rating: 3.5
Number of rating: 1

Here are some movies with similar movie title and genre as per your input.

title
Paranormal Activity 4 (2012)                  0.0
Burrowers, The (2008)                         0.0
Undisputed II: Last Man Standing (2006)       0.0
ABCs of Death, The (2012)                     0.0
Undisputed III: Redemption (2010)             0.0
The Boy and the Beast (2015)                  0.0
Stingray Sam (2009)                           0.0
Abandoned, The (2006)                         0.0
House of the Devil, The (2009)                0.0
Universal Soldier: Day of Reckoning (2012)    0.0
Name: Dragon Lord (a.k.a. Dragon Strike) (Long Xiao Ye) (1982), dtype: float64

**********************************************************************
Lord of the Rings: The Return of the King, The (2003)
Average rating: 4.118918918918919
Number of rating: 185

Here are some movies with similar movie title and genre as per your input.

title
Lord of the Rings: The Two Towers, The (2002)                    0.117721
Lord of the Rings: The Fellowship of the Ring, The (2001)        0.125600
Pirates of the Caribbean: The Curse of the Black Pearl (2003)    0.313312
Incredibles, The (2004)                                          0.353753
Matrix, The (1999)                                               0.359797
Batman Begins (2005)                                             0.374261
Shrek (2001)                                                     0.377855
Fight Club (1999)                                                0.377984
Dark Knight, The (2008)                                          0.379363
Spider-Man (2002)                                                0.412157
Name: Lord of the Rings: The Return of the King, The (2003), dtype: float64

**********************************************************************
Lords of Dogtown (2005)
Average rating: 3.0
Number of rating: 7

Here are some movies with similar movie title and genre as per your input.

title
Flight of the Phoenix (2004)    0.274524
Hardball (2001)                 0.293693
Wicker Park (2004)              0.333573
Perfect Score, The (2004)       0.334339
Black Snake Moan (2006)         0.340780
You, Me and Dupree (2006)       0.345005
Stealing Harvard (2002)         0.350463
In-Laws, The (2003)             0.354237
Friday Night Lights (2004)      0.391282
Employee of the Month (2006)    0.407123
Name: Lords of Dogtown (2005), dtype: float64

**********************************************************************
Lord of War (2005)
Average rating: 3.7142857142857144
Number of rating: 35

Here are some movies with similar movie title and genre as per your input.

title
Rocky Balboa (2006)           0.485278
Blood Diamond (2006)          0.487219
3:10 to Yuma (2007)           0.508014
Cinderella Man (2005)         0.528304
Kingdom of Heaven (2005)      0.531572
Sin City (2005)               0.543971
Lucky Number Slevin (2006)    0.544201
Black Hawk Down (2001)        0.553936
Phone Booth (2002)            0.562576
V for Vendetta (2006)         0.566150
Name: Lord of War (2005), dtype: float64

**********************************************************************
Lords of Salem, The (2012)
Average rating: 2.5
Number of rating: 1

Here are some movies with similar movie title and genre as per your input.

title
Paranormal Activity 4 (2012)                  0.0
Burrowers, The (2008)                         0.0
Undisputed II: Last Man Standing (2006)       0.0
ABCs of Death, The (2012)                     0.0
Undisputed III: Redemption (2010)             0.0
The Boy and the Beast (2015)                  0.0
Stingray Sam (2009)                           0.0
Abandoned, The (2006)                         0.0
House of the Devil, The (2009)                0.0
Universal Soldier: Day of Reckoning (2012)    0.0
Name: Lords of Salem, The (2012), dtype: float64

**********************************************************************
Dragon ball Z 04: Lord Slug (1991)
Average rating: 4.0
Number of rating: 1

Here are some movies with similar movie title and genre as per your input.

title
Witch Hunt (1999)                              0.0
Love and Death on Long Island (1997)           0.0
Other People's Money (1991)                    0.0
Cashback (2004)                                0.0
With Great Power: The Stan Lee Story (2012)    0.0
Beautiful Losers (2008)                        0.0
Case 39 (2009)                                 0.0
Revolution (1985)                              0.0
Shakespeare Behind Bars (2005)                 0.0
The Hound of the Baskervilles (1988)           0.0
Name: Dragon ball Z 04: Lord Slug (1991), dtype: float64

**********************************************************************
The Lord's Lantern in Budapest (1999)
Average rating: 4.5
Number of rating: 1

Here are some movies with similar movie title and genre as per your input.

title
Massu Engira Maasilamani (2015)         0.0
Down Argentine Way (1940)               0.0
Golmaal (2006)                          0.0
A Perfect Day (2015)                    0.0
Hood of Horror (2006)                   0.0
Siam Sunset (1999)                      0.0
Honey, We Shrunk Ourselves (1997)       0.0
Applesauce (2015)                       0.0
A Walk in the Woods (2015)              0.0
Vir Das: Abroad Understanding (2017)    0.0
Name: The Lord's Lantern in Budapest (1999), dtype: float64

**********************************************************************